.classpath
.project
.settings
eclipsebin
target
*/target
pom.xml.*
release.properties

.idea
*.iml
*.ipr
*.iws
classes

.gradle
local.properties
build

.DS_Store

*.csv
*.ps1
jdeps-*.txt
pmd*.xml
class-deps-summary.csv
instance-fields-by-class.csv
package-edges.csv
